* { margin:0; padding:0; box-sizing:border-box; }

@import url('https://fonts.googleapis.com/css?family=Lato');

.hero_container {
    height: 600px;
    width: 100%;
    background-color: black;
}

.hero_text_container {
    color: #FFF;
    font-family: Lato;
    text-align: center;
    padding-top: 170px;
}

.hero_text_container h1 {
    font-size: 64px;
    font-weight: 800;
    
}

.hero_text_container h3 {
    font-size: 20px;
    font-weight: 800;
    
}

.destinations-container {
    height: 500px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.destinations {
    background-color: red;
    width: 100%;
    margin: 0 auto;
    align-self: center;
}

.destinations-text-container {
    float: left;
    width: 30%;
    max-width: 300px;;
    font-family: Lato;
    background-color: aqua;
    margin-top: 30px;
    margin-left: 100px;
}

.destinations-text-container h2 {
    font-size: 40px;
    font-weight: 800;
}

.destinations-text-container p {
    font-size: 18px;
}

.destinations-scroll-wrapper {
    height: 340px;
    background-color: purple;
    width: 60%;
    float: right;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.card {
    width: 260px;
    height: 310px;
    background-color: black;
    flex: 0 0 auto;
    margin-right: 20px;
}

