@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

articleLink {
    text-decoration: none;
    color: black;
}

.articleLink:visited {color:black;}

.overlay:hover, .overlay:active {
  background-color: red;
}

.sidebarLink {
    color: #FFF;
    text-decoration: none;
    border-bottom: 2px solid lime;
    transition: color 0.3s ease-in-out;
}

.sidebarLink:hover, .sidebarLink:active {
    color: lime;
}

.introText {
    width: 40%;
    height: 100vh;
    float: left;
    text-align: right;
    background-color: #2C2C2C;
    position: fixed;
    color: #FFF;
}

.sidebar h1 {
    font-family: Bree Serif;
    font-size: 40px;
    font-weight: 100;
}

.sidebar p {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 100;
}

.sidebarContainer {
    background-color: #2C2C2C;
    color: #FFF;
    text-align: right;
    width: 30%;
    height: 100vh;
    float: left;
    position: fixed;
}

.sidebar {
    margin-top: 80px;
    width: 80%;
    min-height: 300px;
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
}

.contentContainer {
    margin-top: 40px;
    width: 70%;
    margin-left: 30%;
    height: 1000px;
    float: left;
}

.content {
    width: 90%;
    max-width: 900px;
    height: 1000px;
    margin: auto;
    
}

.imgContainer {
    position: relative;
    text-align: left;
    color: white;
    height: 245px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width: 100%;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(0,0,0,0.3);
}

.overlay:hover:before{
  background-color: rgba(0,0,0,0.6);
    transition: .3s ease;
}

.image1 {
    background-image: url(Assets/Photos/Space.jpeg)
}

.image2 {
    background-image: url(Assets/Photos/Coffee.jpeg)
}

.image3 {
    background-image: url(Assets/Photos/Planes.jpeg)
}

.image4 {
    background-image: url(Assets/Photos/Cars.jpeg)
}

.image5 {
    background-image: url(Assets/Photos/Pie.jpeg)
}

.image6 {
    background-image: url(Assets/Photos/Sanfran.jpeg)
}

.image7 {
    background-image: url(Assets/Photos/Surf.jpeg)
}

.featuredPost1 {
    width: 60%;
    float: left;
    margin-right:2.5%;
}

.featuredPost2 {
    width: 35%;
    float: left;
}




.blogTitle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    font-family: Bree Serif;
    font-size: 20px;
}

.textContainer {
    font-size: 14px;
    font-family: Lato;
    padding: 0px 20px 10px 20px;
}

.articleDateText {
    color: #9B9B9B
}

.moreReading {
    font-size: 20;
    font-family: Bree Serif;
    float: left;
    max-width: 600px;
    width: 100%;
    margin-bottom: 30px;
}

.smallArticle {
    width: 35%;
    height: 150px;
    float: left;
    margin-right: 2.5%;
    margin-top: 15px;
}

.largeArticle {
    width: 60%;
    height: 150px;
    float: left;
    margin-right: 2.5%;
    margin-top: 15px;
}

.imgContainer .articleDateText {
    position: absolute;
    margin-bottom: 10px;
    left: 20px;
    right: 20px;
    color: white;
    font-family: Lato;
    font-size: 12px;
}

.smallArticle .blogTitle {
    font-size: 18px;
}

.smallArticle .imgContainer {
    height: 150px;
}

.largeArticle .imgContainer {
    height: 150px;
}


@media only screen and (min-width: 2000px) {
    .content { 
    float: left;
    margin-left: 50px;
    }
    
}

@media only screen and (max-width: 1272px) {
    .featuredPost1 {
    width: 47.5%;
    }
    
    .featuredPost2 {
    width: 47.5%;
    }
    
    .introTextContainer {
    width: 90%;
    }
    
    .contentContainer {
    margin-top: 40px;
    width: 60%;
    margin-left: 40%;
    }
    
    .sidebarContainer {
        width: 40%;
    }
    
    .sidebar {
        margin: auto;
        margin-top: 80px;
        float:none;
    }
    
}

@media only screen and (max-width: 1000px) {
    .featuredPost1, .featuredPost2 {
    width: 100%;
    }
    
}

@media only screen and (max-width: 815px) {
    .featuredPost1, .featuredPost2, .smallArticle, .largeArticle {
    width: 100%;
    }
    
    .sidebarContainer {
    width: 100%;
    height: auto;
    float: left;
    position: static;
    }
    
    .sidebar {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .contentContainer {
        margin-top: 30px;
        width: 100%;
        margin-left: 0px;
        height: 1000px;
        float: left;
    }
    
    .sidebarContainer {
        text-align: left;
    }
}